body {
    font-size: 16px;
    margin: auto;
    padding-top: 10px;
    background-size: 2000px 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(11, 11, 208);
    background-image: url('https://i.pinimg.com/originals/bc/24/b2/bc24b2dd54aeb8d2cb19593a6fef29f0.gif');
/*background-image: url('dragonSelectorPage.png');*/
    overflow: hidden;
    text-align: center;
}
#space {
    padding: 100px;
}
.intro{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    background: -webkit-linear-gradient(rgb(180, 142, 227), rgb(102, 2, 201));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Press Start 2P';
}
h2.intro {
    margin-top: 15px;
    font-size: 60px;
    top: 30%;
}
#psMessage {
    background: -webkit-linear-gradient(rgb(225, 138, 138), rgb(162, 3, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    position: fixed;
    right: 20%;
    top: 70%;
    text-shadow: 0px 0px 40px rgb(0, 0, 201);
}
.object {
    width: 170px;
    height: 170px;
    position: fixed;
    bottom:15.6%;
    left: 45%;
}

#homeButton {
    position: fixed;
    right: 3%;
    top: 2%;
    border: 5px solid blue;
    border-radius: 100%;
    padding: 7px;
    font-size: 60px;
    font-weight: bolder;
}
#homeButton:hover {
    font-size: 69px;
}

.dragonImg{
    width: 200px;
    height:200px;
    margin: 40px;
    border: 5px solid rgb(47, 47, 131);
    transition: 1s ease;
}
.bigger 
{
    font-size: xx-large;
}
.dragonImg:hover{
    box-shadow: 0px 10px 10px rgb(16, 16, 48);
    margin: 5px;
    padding: 5px;
    border: 6px solid greenyellow;
    width: 240px;
    height:240px;
}
.dragonContainer {
    position: fixed;
    top: 40%;
    right: 23%;
    display: flex;

}

/*When the height becomes less than 700px this script section changes feature sof the page.   */
@media(max-height: 700px) {
    body {
        background-image: url('https://i.pinimg.com/originals/bc/24/b2/bc24b2dd54aeb8d2cb19593a6fef29f0.gif');
    }
}