body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url('https://i.pinimg.com/originals/bc/24/b2/bc24b2dd54aeb8d2cb19593a6fef29f0.gif');
    font-size: 15px;
    overflow: hidden;
}
.page-title, a#play-button, p#play-msg{
    text-align: center;
    background: -webkit-linear-gradient(rgb(216, 246, 254), rgb(3, 72, 162));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Press Start 2P';
    letter-spacing: 0px;
}
h1.page-title {
    font-size: 35px;
    margin-top: 250px;
    margin-bottom: 20px;
}
h2.page-title {
    margin-bottom: 85px ;
    font-size: 99px;
    text-decoration: none;
    padding: 4px 20px 4px 20px;
    text-shadow: 0px 0px 40px rgb(0, 0, 201);
}

#play-button:active{
    text-decoration: none;
}
a#play-button:hover {
    font-size: 50px;
}
a#play-button {
    box-shadow: 10px 10px 10px black;
    padding: 30px 20px 28px 20px;
    border: 7px solid rgb(167, 167, 167) ;
    border-radius: 55%;
    font-size: 42px;
    font-weight: bolder;
}
div#play-button-box {
    text-align: center;
    margin-bottom: 50px;
}
p#play-msg {
    text-decoration: underline;
}






