body {
    font-size: 16px;
    margin: auto;
    padding-top: 10px;
    background-size: 2000px 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url('vm_gameBackground.png');
    overflow: hidden;
}

h2#intro{
    font-size: 55px;
    font-style: italic;
    font-weight: bolder;
    position: fixed;
    top: 26%;
    left: 35%;
    text-align: center;
    background: -webkit-linear-gradient(rgb(176, 6, 176), rgb(77, 181, 209), rgb(3, 72, 162));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Press Start 2P';
}
.object {
    width: 170px;
    height: 170px;
    position: fixed;
    bottom:15.6%;
    left: 45%;
}

#homeButton {
    position: fixed;
    right: 3%;
    top: 2%;
    border: 5px solid black;
    border-radius: 100%;
    padding: 7px;
    font-size: 60px;
    font-weight: bolder;
}
#homeButton:hover {
    font-size: 69px;
}

/*When the height becomes less than 700px this script section changes feature sof the page.   */
@media(max-height: 700px) {
    body {
        background-image: url('https://i.pinimg.com/originals/bc/24/b2/bc24b2dd54aeb8d2cb19593a6fef29f0.gif');
    }
}