body {
    font-size: 16px;
    margin: auto;
    padding-top: 10px;
    background-size: 2000px 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url('vm_gameBackground.png');
    overflow: hidden;
}

h2#intro{
    font-size: 55px;
    position: fixed;
    top: 4%;
    left: 1.5%;
    text-align: center;
    background: -webkit-linear-gradient(rgb(14, 12, 12), rgb(0, 0, 0),rgb(8, 8, 9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Press Start 2P';
}
.object {
    position: fixed;
    bottom:15.6%;
    left: 45%;
}